{% extends 'base.html.twig' %}

{% block title %}Trang chủ{% endblock %}

{% block body %}
	{% if intro %}
	<div class="winco-food intro">
		<div class="title">
			<h2>{{intro.title}}</h2>
		</div>
		<div class="row">
			<div class="col-md-4 image">
				<img src="http://wincofood.com.vn/sites/default/files/banner/pedia-gold.jpg" alt="Los Angeles">
			</div>
			<div class="col-md-8">
				{{intro.summary|raw}}
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="/js/main.js"></script>
{% endblock %}