@media (min-width: 1561px) {
	.container, .container-sm, .container-md, .container-lg, .container-xl {
	    max-width: 1560px;
	}
}

.carousel-indicators li{
	background-color: #4CAF50;
}

.wrap-container {
	margin-top: 56px;
}

footer.wrap-container {
	margin-top: 0;
}

.carousel-item {
	max-height: 700px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.slide-show {
	margin-top: 56px;
}

.carousel-item img {
	width: 100%;
	height: auto;
}

.custom-link {
	position: absolute;
	z-index: 20;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

iframe.kenh-winco-food {
	width: 350;
	height: auto;
}

footer {
	font-weight: 700;
}

.footer-top .winco-title h4 {
	font-weight: 700;
	color: #2780E3;
	border-bottom: 1px solid #2780E3;
}

.footer-top ul {
	padding: 0;
}

.footer-top ul li {
	list-style: none;
}

.footer-top ul li a {
	text-decoration: none;
}

.copy-right {
	background-color: #2780E3;
}

.copy-right p {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	text-align: center;
}