{% extends 'base.html.twig' %}

{% block title %}Sign up!{% endblock %}

{% block body %}
	<h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
	{{ form_start(form) }}
 	{{ form_widget(form) }}
 	{{ form_end(form) }}
{% endblock %}
