{% extends "base.html.twig" %}
{% block title %}
    An Error Occurred: {{ status_text }}
{% endblock %}
{% block body %}
    <div>
        <p>
            {{ status_code }} :: {{ exception.message }}
        </p>
    </div>
{% endblock %}