<footer class="wrap-container winco">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="winco-title">
						<h4>Liên kết nhanh</h4>
					</div>
					<ul>
						<li><a href="https://nutifood.com.vn/blog/tuyen-dung.html" class="hvr-underline-from-center">Tuyển Dụng</a></li>
						<li><a href="https://www.nutifood.com.vn/blog/lien-he.html" class="hvr-underline-from-center">Liên hệ</a></li>
						<li><a href="https://www.nutifood.com.vn/blog/trung-tam-phan-phoi.html" class="hvr-underline-from-center">Trung tâm phân phối</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="winco-title">
						<h4>Liên kết nhanh</h4>
					</div>
					<ul>
						<li><a href="https://nutifood.com.vn/blog/tuyen-dung.html" class="hvr-underline-from-center">Tuyển Dụng</a></li>
						<li><a href="https://www.nutifood.com.vn/blog/lien-he.html" class="hvr-underline-from-center">Liên hệ</a></li>
						<li><a href="https://www.nutifood.com.vn/blog/trung-tam-phan-phoi.html" class="hvr-underline-from-center">Trung tâm phân phối</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="winco-title">
						<h4>Liên kết nhanh</h4>
					</div>
					<ul>
						<li><a href="https://nutifood.com.vn/blog/tuyen-dung.html" class="hvr-underline-from-center">Tuyển Dụng</a></li>
						<li><a href="https://www.nutifood.com.vn/blog/lien-he.html" class="hvr-underline-from-center">Liên hệ</a></li>
						<li><a href="https://www.nutifood.com.vn/blog/trung-tam-phan-phoi.html" class="hvr-underline-from-center">Trung tâm phân phối</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="winco-title">
						<h4>Kênh WincoFood</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="center">Copyright © 2020 WincoFood Corp. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>